html
  head
    meta(charset='UTF-8')
    title Brasil
    link(rel="icon" href="favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet")
    block scripts

  body
    include ../partials/_main-menu.pug
    .container
      #barba-wrapper
        .barba-container
          block content
