:global
  .custom-accordion
    &.panel-group
      margin-bottom: 5px

    .panel-heading
      cursor: pointer

      &:hover
        background: lightBlue
        color white

    .link-list
      padding: 20px

    .panel.panel-default
      border none

    .section-title
      margin: 0
      font-size 14px
