.chart-brazil-map
  .header-map
    padding: 20px
    border-bottom: 1px solid almostWhite
    display: flex
    justify-content space-between

    .page-title
      margin-top: 0

  .svg-container-map-brazil
    .uf
      cursor: pointer
      fill none
      stroke white
      stroke-width 1
      opacity: 1
      transition opacity .3s

      &:hover
        opacity: .8

      &.selected
        opacity: .8

      &.norte
        fill flatGreen

      &.nordeste
        fill flatRed

      &.centro-oeste
        fill flatBlue

      &.sudeste
        fill flatOrange

      &.sul
        fill flatYellow

    .state-initials
      fill black

    .uf-initial-text
      pointer-events: none
      font-size 1.4rem

      &.state-df
        transform: translate(0, -9px)

      &.state-pb
        transform: translate(9px, 11px)

      &.state-al
        transform: translate(3px, 8px)

      &.state-pe
        transform: translate(1px, 4px)

      &.state-pi
        transform: translate(0, 15px)

      &.state-es
        transform: translate(5px, 0)

      &.state-rj
        transform: translate(0, 9px)

      &.state-se
        transform: translate(2px, 2px)

      &.state-ac
        transform: translate(0, -4px)
