:global
  .list-text
    margin-bottom: 25px
    padding: 0

    li
      list-style none
      margin-bottom: 10px
      border-left: 3px solid lightBlue
      padding-left: 10px

      p
        font-size 12px
        margin-top: 6px
