:global
  .link-list
    margin-bottom: 50px
    padding: 0

    li
      list-style none
      margin-bottom: 20px
      border-left: 3px solid lightBlue
      padding-left: 10px

      a
        font-weight: 600
        font-size 16px

      p
        font-size 12px
        margin-top: 6px
