:global
  .main-menu
    width: 100%
    background: brazilGreen

    &-list
      li
        display: inline-block

        a
          color white
          display: block
          padding: 15px 10px
