.main-menu
  width: 100%

  &-list
    margin-bottom: 0
    padding: 0

    li
      list-style: none

      a
        color white
        display: block
        background: brazilGreen
        width: 100%
        padding: 15px 10px
        margin-bottom: 10px
