.main-menu
  width: 100%

  &-list
    margin-bottom: 0
    padding: 0

    li
      list-style: none

      a
        color white
        opacity: .5
        display: block
        font-family: 'garibaldi'
        font-weight 300
        width: 100%
        padding: 15px 20px
        font-size 2rem
        margin-bottom: 10px
        transition background .3s
        background: transparent

        &.is-active
          opacity: 1

      &:hover
        a
          background: rgba(white, .1)

  +below(medium)
    &-list
      li
        display: inline-block
        width: auto
        
        a
          background: brazilGreen
