.section-title,
.subsection-title,
.subsubsection-title
  margin-top: 30px
  margin-bottom: 20px
  font-weight 600

.subsection-title
  margin-top: 30px
  margin-bottom: 10px

.subsubsection-title
  margin-bottom: 10px

