.fade-out {
  animation: fade-out .5s ease forwards !important;
}

.fade-in {
  animation: fade-in .5s ease forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  /* no comma here */
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  /* no comma here */
  to {
    opacity: 1;
  }
}
