brazilGreen = #009C34
brazilYellow = #FFE100
brazilBlue = #002478

lightBlue = #337ab7
darkGreen = #27ae60
lightGreen = #2ecc71
almostWhite = #F1F2F1

text = #616161

flatYellow = #f1c40f
flatGreen = #1abc9c
flatOrange = #e67e22
flatBlue = #3498db
flatRed = #e74c3c
