extends default

block content
  h2.page-title Gráficos

  h3.section-title Projeção da população do Brasil | 2000 a 2060

  .graph-container

  p.source-reference Projeção da População do Brasil por sexo e idade: 2000-2060 feita pelo&nbsp;
    a(target="_blank" href="http://www.ibge.gov.br/home/estatistica/populacao/projecao_da_populacao/2013/default_tab.shtm")
      | Instituto Brasileiro de Geografia e Estatística (IBGE)
