extends default

block content
  h2.page-title Gráficos

  h3.section-title Projeção da população do Brasil | 2000 a 2060

  p Crescimento da população por faixa etária
  .update-graph-buttons
    button.btn.btn-default.update-graph Total
    button.btn.btn-default.update-graph 0-4
    button.btn.btn-default.update-graph 5-9
    button.btn.btn-default.update-graph 10-14
    button.btn.btn-default.update-graph 15-19
    button.btn.btn-default.update-graph 20-24
    button.btn.btn-default.update-graph 25-29
    button.btn.btn-default.update-graph 30-34
    button.btn.btn-default.update-graph 35-39
    button.btn.btn-default.update-graph 40-44
    button.btn.btn-default.update-graph 45-49
    button.btn.btn-default.update-graph 50-54
    button.btn.btn-default.update-graph 55-59
    button.btn.btn-default.update-graph 60-64
    button.btn.btn-default.update-graph 65-69
    button.btn.btn-default.update-graph 70-74
    button.btn.btn-default.update-graph 75-79
    button.btn.btn-default.update-graph 80-84
    button.btn.btn-default.update-graph 85-89
    button.btn.btn-default.update-graph 90+

  .graph-container

  p.source-reference
    a(href="http://www.ibge.gov.br/home/estatistica/populacao/projecao_da_populacao/2013/default_tab.shtm" target="_blank") Projeção da População do Brasil por sexo e idade: 2000-2060&nbsp;
    | feita pelo&nbsp;
    a(target="_blank" href="http://www.ibge.gov.br")
      | Instituto Brasileiro de Geografia e Estatística (IBGE)
