extends default

block content
    #chart-brazil-map.chart-brazil-map
      .header-map
        .header-text
          h2.page-title Mapa do Brasil
          p Clique em um estado para informações
          button.btn.btn-primary.bt-reset-map
            | Resetar mapa
        .header-legend
