extends ./templates/default

block content
    h2 Links úteis
    ul.link-list
      li
        a(href="http://www.politicos.org.br/" target="_blank") Ranking dos políticos
        p Ranking que compara políticos de todo o Brasil
      li
        a(href="https://pt.wikipedia.org/wiki/Brasil" target="_blank") Brasil no Wikipedia
      li
        a(href="http://www.brasil.gov.br/" target="_blank") Portal do Brasil
        p Agregador de conteúdos dos ministérios e secretarias do governo federal, com notícias diárias e serviços para o cidadão.
      li
        a(href="http://www2.planalto.gov.br/" target="_blank") Palácio do Planalto
        p Acompanhe o que ocorre no Palácio do Planalto, onde fica o gabinete Presidencial do presidente
      li
        a(href="http://www.congressonacional.leg.br/portal/" target="_blank") Congresso Nacional
        p O Congresso Nacional é o órgão constitucional que exerce, no âmbito federal, as funções do poder legislativo
      li
        a(href="http://www12.senado.leg.br/hpsenado" target="_blank") Senado Federal
      li
        a(href="http://www2.camara.leg.br/" target="_blank") Câmara dos Deputados
      li
        a(href="http://portal.tcu.gov.br/inicio/" target="_blank") Tribunal de Contas da União
        p Informações sobre fiscalização das contas do governo consistindo de informações processuais, jurisprudência, notícias e legislação.

    h2 Acesso à informação
    ul.link-list
      li
        a(href="http://acessoainformacao.gov.br/" target="_blank") Acesso à informação do Governo Federal
        p A Lei de acesso à informação garante acesso a mais de 100 mil informações que eram reservadas ou secretas
      li
        a(href="http://transparencia.gov.br/" target="_blank") Portal da Transparência nos Recursos Públicos Federais
        p Encontre dados detalhados sobre a execução orçamentária e financeiro do governo federal
      li
        a(href="http://dados.gov.br/" target="_blank") Portal Brasileiro de Dados Abertos
        p Ponto central de acesso pelo cidadão ao dados públicos de governo
      li
        a(href="http://www.inde.gov.br/" target="_blank") Infraestrutura Nacional de Dados Espaciais
        p Disponibilização, compartilhamento e acesso a dados e informações geoespaciais, bem como aos serviços relacionados
      li
        a(href="http://www.aplicativos.gov.br/" target="_blank") Guia de aplicativos do Governo Federal
        p Aplicativos oficiais construídos por organizações públicas
      li
        a(href="http://vispublica.gov.br/vispublica/" target="_blank") Portal VisPublica
        p Modelo de visualização de dados públicos

    h2 Legislação
    ul.link-list
      li
        a(href="http://www4.planalto.gov.br/legislacao" target="_blank") Portal da Legislação
        p Reuni todo o material legislativo do Brasil: a Constituição, as Leis Federais, Decretos, Estatutos, dentre outros.

    h2 Serviços
    ul.link-list
      li
        a(href="http://servicos.gov.br/" target="_blank") Portal de Serviços do Governo Federal
        p Canal de comunicação centralizado que apresenta os serviços prestados pelo governo.
