extends default

block content
  .page-title-container
    h2.page-title O sistema político Brasileiro
    p Entenda melhor como o sistema político do Brasil é organizado

  p.lead O Brasil é uma&nbsp;
    strong República Federetiva Presidencialista

  p Formada por:
  ul.list-text
    li União
    li Estado
    li Municípios

  p O exercício do poder é atribuído a órgãos distintos e independentes, submetidos a um sistema de controle para garantir o cumprimento das leis e da constituição.

  p
    strong O Brasil é uma república&nbsp;
    | porque o chefe de estado é eleito pelo povo, por um período de tempo determinado, atualmente a gestão dura 4 anos, mas o presidente pode tentar se reeleger ficando até 8 anos no poder.

  p
    strong O Brasil é presidencialista&nbsp;
    | porque o presidente da república é o chefe de estado e também o chefe do governo.

  p
    strong O Brasil é federativo&nbsp;
    | porque os estados tem autonomia política, possuem um governo próprio, mas que juntas compõem um país.

  p
    strong O Brasil é constitucional&nbsp;
    | porque a nossa base de direitos, deveres, regras, são definidas numa constituição federal, que traz as leis e os encaminhamentos sociais, políticos e econômicos da nação.
    a(href="http://livraria.camara.leg.br/constituic-o-da-republica-federativa-do-brasil-livro-859.html" target="_blank")  A constituição em vigor no Brasil é a de 1988.

  h3.section-title A União se divide em três poderes
  ul.list-text
    li Legislativo
    li Executivo
    li Judiciário

  h4.subsection-title Legislativo
  .alert.alert-info
    p Tem a função de elaborar as normas, criar leis e alterá-las.

  p Além de fazer as leis, cabe aos integrantes do poder legislativo, aprovar ou rejeitar as leis propostas pelo poder executivo através de votação.

  p Outra função do legislativo é fiscalizar se o executivo está cumprindo as políticas públicas com as quais se comprometeu.

  p O legislativo também aprova ou rejeita o orçamento do executivo. Sempre que um presidente, governador ou prefeito é eleito, ele tem que fazer um orçamento explicando como vai usar o dinheiro do povo. O legislativo é quem aprova ou não esse orçamento. Caso o legislativo reprove o orçamento, o executivo tem de refazê-lo.

  p O poder legislativo federal é também chamado de congresso nacional

  p.lead No Brasil, o poder legislativo é&nbsp;
    strong bicameral

  p Bicameral significa que tem duas câmaras, o senado federal, e a câmara dos deputados federais.

  img.illustrative-img(src=require("./../assets/images/congress.svg") alt="Brasil")

  .alert.alert-info
    p
      strong A Concha do Senado é voltada para baixo,&nbsp;
      | pois representa a vontade do Estado. O poder que vem de cima para baixo - os Senadores representam os Estados da Federação.
    p
      strong A Concha da Câmara é virada para cima,&nbsp;
      | pois representa o povo. O poder que vem de baixo para cima - os deputados representam a vontade do povo.

  p Temos 2 câmaras porque:
  p O Brasil tem mais de 200 milhões de habitantes, e a distribuição da população não é equilibrada. Temos cidades e estados com populações muito maiores que outros.

  p.lead É justo que um estado com a população grande, tenha o mesmo número de representates que um estado cuja população é pequena?

  p.lead Mas seria justo que um estado com população grande, sempre levasse vantagens sobre um estado com população pequena?

  p Para tentar equilibrar, temos câmaras cujo número de representantes é definido de maneiras diferentes.

  p A câmara federal tem a quantidade de deputados federais dividida de acordo com o número de habitantes em cada estado. O estado mais populoso do país é São Paulo com 44 milhões de habitantes. Na outra ponta da tabela, vem o estado de Roraima, com apenas 488 mil habitantes, o que corresponde a apenas 1% da população de São Paulo. Por isso a população de São Paulo pode eleger 70 deputados federais, enquanto Roraima elege apenas 8.

  p Já a outra câmara legislativa, é o senado. Os membros são igualmente divididos por estado. 3 senadores por cada unidade federativa, independente da população.

  p Diferente de todos os demais eleitos pelo povo, que tem mandado de 4 anos, os senadores tem mandado de 8 anos.

  p Enquanto os deputados federais representam a populaçao dos estados, os senadores representam o estado em si.

  h4.subsection-title Executivo
  .alert.alert-info
    p O poder executivo tem a função de governar o povo e administrar os interesses públicos, de acordo com as leis previstas na constituição federal.

  p Atua na execução de programas, ou na prestação de serviço público.
  p A palavra executivo, vem de executar, decidir, aquele que tem a função de agir.

  p No Brasil, que é presidencialista, essa função cabe ao presidente, mas em países parlamentares com o Inglaterra, o poder é dividido entre o primeiro ministro que chefia o governo, e o monarca, o qual geralmente é rei, no caso da Inglaterra, é a rainha Elizabeth.

  p Basicamente o presidente recebe as leis aprovadas pela câmara dos deputados e as coloca em prática.

  p A presidente da república tem o poder de designar ministros e secretários que irão auxiliar no executivo. Juntos, presidência e ministros administram, prestam serviços, e executam políticas públicas no país.

  p O poder executivo é organizado em três esferas
  p Cada esfera é liderada por um representante.

  p A esfera federal representada pelo presidente.
  p A esfera estadual representada pelo governador.
  p A esfera municipal representada pelo prefeito.

  h4.subsection-title Judiciário
  .alert.alert-info
    p Tem a função de julgar ações ou situações que não se enquadram com as leis criadas pelo poder legislativo e aprovadas pelo poder executivo, ou com as regras da constituição do país.

  p O poder judiciário ou o poder judicial é constituído por ministros, desembargadores, promotores de justiça e juízes.

  p A principal função do poder judiciário é defender os direitos de cada cidadão, promovendo a justiça, e resolvendo os prováveis conflitos que possam surgir na sociedade, através da investigação, da apuração, julgamento e punição. No entanto esse poder não está unicamente centralizado nas mãos do judiciário. A constituição federal brasileira garante meios alternativos a quais todos cidadãos podem recorrer, como o ministério público, defensoria pública, e advogados particulares.

  p Em outras palavras, se o indivíduo comete algum crime, é o judiciário que irá julgá-lo.

  p O Brasil tem um sistema pluripartidário, ou seja, admite a  formação legal de vários partidos.

  p Um partido político é uma associação voluntária de pessoas que compartilham os mesmos ideais, interesses, objetivos e doutrinas políticas, e que tem como objetivo influenciar e fazer parte do poder político.

  p O judiciário é separado por diferentes matérias, ou seja, diferentes área da justiças

  h5.subsubsection-title Justiça comum
  p Engloba por exemplo, o direito civil, e o penal. Pode ser federal ou estadual

  h5.subsubsection-title Justiça especializada
  ul.list-text
    li Trabalho
    li Eleitoral
    li Militar

  p Cada área da justiça tem diferentes representantes:

  img.illustrative-img(src=require("./../assets/images/organograma-poder-judiciario.jpg") alt="Brasil")

  p Todos eles tem um tribunal superior, de acordo com a matéria. E todos eles estão submetidos diretamente ao Supremo Tribunal Federal.
  p Sempre que houver um conflito que lese ou ameace a constituição, o STF pode intervir.

  p Os representates dos tribunais superioes e do Supremo Tribunal Federal são ministros, e diferentemente dos outros cargos do judiciário, que são preenchidos através de concurso público, eles são escolhidos pelo presidente e aprovados pelo senado. Não existe votação popular para o poder judiciário.

  p Trabalhando junto com o poder judiciário, está o Ministério Público, que não faz parte de nenhum dos 3 poderes, e que tem essa autonomia justamente porque é o órgão responsável por preservar os interesses da sociedade no caso de uma injustiça concreta ou em potencial.

  p Ou seja, é o Ministério Público um dos principais provocadores do poder judiciário, clhendo denúncias, investigando todas elas, e propondo uma ação se isso for necessário. E pra garantir o direito a orientação jurídica e defesa de quem não tem condições de pagar, existe a defensoria pública também.

  h4.subsection-title Legislativo, executivo e judiciário nos estados e cidades

  p Estrutura de legislativo, executivo e judiciário é reproduzida nas unidades federativas, ou seja, nos estados e também nas cidades.

  p No executivo temos o governador do estado e prefeito da cidade, que nomeiam seus respectivos secretários.

  p No legislativo temos a Assembléia Legislativa do Estado e a Câmara municipal de vereadores nas cidades. Tanto no caso estadual quanto no municipal, o legislativo é unicameral, com uma única câmara, cujos membros também são representantes eleitos pelo povo, sendo eles deputados federais e vereadores.

  p O poder judiciário se encontra nos estados e nas cidades através através dos tribunais de justiça de cada estado.

  h3.section-title Tribunal de Contas da União

  p O Tribunal de Contas da União (TCU) é uma instituição brasileira prevista na Constituição Federal para exercer a fiscalização contábil, financeira, orçamentária, operacional e patrimonial da União e das entidades da administração direta e administração indireta, quanto à legalidade, à legitimidade e à economicidade e a fiscalização da aplicação das subvenções e da renúncia de receitas. Auxilia o Congresso Nacional no planejamento fiscal e orçamentário anual.

  p O tribunal não está ligado diretamente a nenhum poder, o que faz com que seja um órgão independente. Sua independência é comparada à do Ministério Público, um órgão que não está ligado a nenhum poder e exerce sua função constitucional

  h3.section-title Controle Social – Órgãos de fiscalização

  p Órgãos públicos responsáveis por fiscalizar a aplicação dos recursos federais:

  h4.subsection-title Câmaras de Vereadores e Assembléias Legislativas
  p Fiscalizam as prefeituras e os governos estaduais, recebem e apuram denúncias e podem até afastar administradores envolvidos em corrupção (prefeitos, governadores, secretários etc.)

  h4.subsection-title Ministério Público Estadual (MPE) e Ministério Público Federal (MPF)
  p Os Promotores de Justiça e os Procuradores da República, integrantes do Ministério Público, defendem os interesses da sociedade, portanto também recebem e investigam denúncias de desvios de dinheiro público e propõem ações judiciais visando à punição dos envolvidos e ao ressarcimento dos recursos desviados. A diferença entre os dois é o âmbito de atuação: o MPF atua nos casos que envolvem recursos federais e o MPE, quando os recursos forem estaduais e municipais.

  h4.subsection-title Poder Judiciário (Juízes e Tribunais de Justiça)
  p São eles que dão a última palavra: decidem quem vai ou não ser punido, quem deve ou não ir para a cadeia, quem perde ou não o mandato etc. Mas eles só podem agir se forem acionados por alguém: pelo promotor de Justiça, por exemplo, ou por qualquer pessoa, mas neste caso precisa haver assistência de um advogado.

  h4.subsection-title Tribunais de Contas dos Estados (TCE)
  p Existem em todos os estados. Fazem fiscalizações e auditorias, por iniciativa própria ou por proposta do Ministério Público, além de examinar e julgar a regularidade das contas dos gestores públicos estaduais e municipais (nos estados onde não existem Tribunais de Contas de Municípios). Esses gestores podem ser governadores, prefeitos, secretários estaduais e municipais, ordenadores de despesas e dirigentes de autarquias, fundações, empresas públicas ou sociedades de economia mista.

  h4.subsection-title Tribunais de Contas dos Municípios (TCM)
  p Existem apenas em quatro estados (Bahia, Ceará, Goiás e Pará) e em dois municípios específicos (Rio de Janeiro e São Paulo). Analisam e julgam anualmente as contas das prefeituras.

  h4.subsection-title Tribunal de Contas da União (TCU)
  p Julga a boa e regular aplicação dos recursos públicos federais e auxilia o Congresso Nacional no controle externo da Administração Pública Federal e no julgamento das contas do Presidente da República.
