nav.main-menu
  ul.main-menu-list
    li.main-menu-list-item.is-active
      a(href="index.html") Mapa
    li.main-menu-list-item
      a(href="links.html") Links
    li.main-menu-list-item
      a(href="sistema-politico.html") Política
    li.main-menu-list-item
      a(href="graficos.html") Gráficos
