:global
  *
    font-family: 'Open Sans', sans-serif;
    outline none
    box-sizing border-box

  html
    overflow-y: scroll
    height: 100%

  body
    line-height 1
    min-height 100%
    background: almostWhite

    a,
    a:hover,
    a:visited,
    a:active
      text-decoration none !important
      font-weight: 600

    p
      line-height: 1.5

  .no-padding
    padding-left: 0;
    padding-right: 0;

  html,
  body,
  ol
    padding 0
    margin 0

  ol
    list-style none

  .illustrative-img
    margin: 25px 0

  .barba-container

    .lead
      border-left: 3px solid lightBlue
      margin: 15px 0
      padding: 15px

  .row.match-my-cols
    overflow: hidden
    padding-bottom: 50px
    min-height: 100vh

  .row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
