:global
  *
    font-family: 'Open Sans', sans-serif;
    outline none
    box-sizing border-box

  html
    overflow-y: scroll

  body
    line-height 1

    a,
    a:hover,
    a:visited,
    a:active
      text-decoration none !important

  html,
  body,
  ol
    padding 0
    margin 0

  ol
    list-style none
