.sidebar-left
  position: fixed;
  height: 100%;
  z-index: 999;
  top: 0;
  background-image: greenGradient
  left: 0;

  +below(medium)
    position: relative
    height: auto
    padding: 10px
    background-image: none
